version: 2.1
jobs:
  build:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - run: python3 main.py  
    test:
      docker:
      - image: cimg/base:stable
    steps:
      - checkout  
      - run: python3 test.py
workflows:
  build_and_test:
    jobs:
      - build
      - test:
          requires:
            - build